@import "~antd/dist/antd.css";

.over {
    cursor: pointer;
}

/**** pagination ****/
.ant-pagination {
    float: right;
    clear: both;
    padding: 12px 24px;
}

.ant-pagination-item:not(.ant-pagination-item-active) {
    display: none;
}
