@import '../../assets/styles/vars.less';

.custom-drawer-wrapper {
  padding: 0;
  height: 100vh;

  .ant-drawer-body {
    padding: 0;

    .kant-menu-head {
      display: none;
    }

    .kant-scroll {
      height: 100vh !important;
    }
  }
}

.collapsed-switch {
  .rectangular(100%, 50px, 50px);
  text-align: right;
  padding: 0 20px;
  box-sizing: border-box;
  background: rgba(255,255,255,1);
  border: 1px solid rgba(41, 41, 41, 0.1);

  & .switch-icon {
    .color(#5c8cfe);
    .rectangular(18px, 14px);
    cursor: pointer;
  }
}

.collapsed-switch-off {
  text-align: center;
}

.side-menu-module {
  & .kant-sub-icon,
  & .kant-menuitem-icon {
    display: inline-block;
    .rectangular(46px, 49px);
    text-align: center;
    vertical-align: top;
    font-size: 36px;
  }
}

.kant-submenu-title .iconfont, .ant-menu-item .iconfont {
  font-size: 36px;
  margin-top: 2px;
}

.kant-menuitemgroup-content .iconfont {
  font-size: 32px;
  float: left;
  position: relative;
  left: 5px;
}

.ant-menu-inline-collapsed-tooltip .iconfont{
  font-size: 32px;
  float: left;
  position: relative;
  left: 5px;
}

.ant-menu-inline-collapsed-tooltip
.kant-menuitem-title span {
  margin-left: 12px;
}

.kant-menuitemgroup-content
.ant-menu-item-group-title
.kant-itemgroup-text {
  margin-left: 0;
}

