.login-content {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  z-index: 99999;
  background: white;
  & .spin {
    position: absolute;
    width: 460px;
    height: 303px;
    top: calc(~'60% - 151px');
    left: calc(~'50% - 230px');
    transform: 'translate(-50%, -50%)';
  }

  & .Login-img {
    position: absolute;
    width: 206px;
    height: 216px;
    top: calc(~'25% - 101px');
    left: calc(~'50% - 103px');
    transform: 'translate(-50%, -50%)';
  }

  & .progress {
    position: absolute;
    width: 160px;
    top: calc(~'74% - 2px');
    left: calc(~'50% - 80px');
    transform: 'translate(-50%, -50%)';
    & .ant-progress-bg {
      height: 4px !important;
    }
    & .ant-progress-bg {
      height: 4px !important;
    }
  }
  & .progress-num {
    position: absolute;
    width: 48px;
    height: 15px;
    top: calc(~'72% - 7px');
    left: calc(~'50% - 10px');
    transform: 'translate(-50%, -50%)';
  }
}

