#upload-component .file-info{
  display: inline-block;
}

#upload-component .info-box{
  line-height: 25px;
  color: #999;
  border-bottom: 2px solid#ddd;
  position: relative;
}
.info-box::after{
  content: '';
  display: block;
  height: 2px;
  width: 0%;
  position: absolute;
  left: 0;
  bottom: -2px;
  transition: width 1s;
  -webkit-transition: width 1s;
}

.succeed .info-box::after{
  width: 100%;
  background: green;
  transition: width 1s;
  -webkit-transition: width 1s;
}

.failed .info-box::after{
  width: 100%;
  background: red;
  transition: width 1s;
  -webkit-transition: width 1s;
}

#upload-component .ant-upload{
  float: left;
}

#upload-component .ant-upload-list{
  float: left;
} 

#upload-component .ant-upload-list-item {
  margin: 4px 10px 0 10px;
  float: left;
  cursor: pointer;
}
#upload-component .ant-upload-list-item-info{
  padding-right: 20px;
}
