.preview_pictures{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    overflow-y: scroll;
    overflow-x: auto;
    background: rgba(0,0,0,.8);
}
.preview_pictures_main{
    position: relative;
}
.preview_pictures_operation{
    position: absolute;
    width: 150px;
    height: 33px;
    line-height: 33px;
    top: 20px;
    left: 50%;
    margin-left: -75px;
    border: 1px solid #111;
    border-radius: 3px;
    box-shadow: inset 0 0 0 1px rgba(255,255,255,.05);
    background: linear-gradient(to bottom,#444 0,#343434 50%,#292929 50%,#333 100%);
    z-index: 999;
}
.preview_pictures_operation>div{
    display: inline-block;
    height: 33px;
    width: 48px;
    text-align: center
}
.preview_pictures_operation>div:last-child{
    margin-top: -1px;
    border-left: 1px solid #111;
}
.preview_pictures_operation .p_p_o_left{
    font-size: 26px;
    font-weight: bold;
    line-height: 33px;
    color: #cdcdcd;
}
.preview_pictures_operation .p_p_o_right{
    font-size: 26px;
    font-weight: bold;
    line-height: 33px;
    color: #cdcdcd;
}
.preview_pictures_operation .p_p_o_close{
    font-size: 24px;
    font-weight: bold;
    line-height: 33px;
    color: #cdcdcd;
}
.preview_pictures_operation .p_p_o_left:hover,
.preview_pictures_operation .p_p_o_right:hover,
.preview_pictures_operation .p_p_o_close:hover{
    color: #fff;
    cursor: pointer;
}
.preview_pictures_main>ul{
    position: relative
}
.preview_pictures_main>ul>li{
    width: 100%;
    line-height: 100%;
    text-align: center;
    position: absolute;
}