@import '../../assets/styles/vars.less';

.main-content {
  padding: 0 24px 24px;
  overflow-y: auto;
  height: @full-height;

  & .content {
    .background-color(#fff);
    padding: 24px;
    margin: 0;
    min-height: auto;
    height: auto;
  }

  & .footer {
    height: auto;
    text-align: center;
  }
}
