.antd-inline-table{
  padding: 12px 0;
}

.antd-table-title-line{
  box-sizing: border-box;
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(235, 235, 235, 1);
  margin: 10px 0 15px 0;
}

.antd-inline-table .ant-table-thead>tr>th{
  position: relative;
}

.active-column {
  cursor: e-resize;
  position: absolute;
  right: 0px;
  width: 35px;
  height: 100%;
  display: inline-block;
  top: 0;
}