.antd-inline-table{
  padding: 12px 0;
}

.antd-table-title-line{
  box-sizing: border-box;
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(235, 235, 235, 1);
  margin: 10px 0 15px 0;
}

.antd-inline-table .ant-table-thead>tr>th{
  position: relative;
}

.active-column {
  cursor: ew-resize;
  position: absolute;
  right: 0px;
  width: 35px;
  height: 100%;
  display: inline-block;
  top: 0;
}

.ant-select-container{
  position: relative;
  display: block;
  margin-bottom: 15px;
}

.ant-select-container>.ant-select-btn {
  float: right;
}

.ant-select-container .ant-select-fields-box{
  position: absolute;
  right: 0;
  top: 30px;
  width: 200px;
  z-index: 999;
  background: #fff;
  border: 1px solid rgba(6, 6, 6, .1);
  box-shadow: -5px 5px 5px rgba(0, 0, 0, .1), 5px 0 5px rgba(0, 0, 0, .1);
}

.ant-select-container .ant-select-fields-header{
  padding: 5px 10px;
  background: rgba(247, 247, 247, .8);
  border-bottom: 2px solid #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.ant-select-container .ant-select-fields-body{
  padding: 0 10px;
  max-height: 192px;
  background: rgba(247, 247, 247, .8);
  overflow: auto;
  overflow-y: scroll;
  border-bottom-left-radius: 5px;
}

.ant-select-fields-body::-webkit-scrollbar {
  width:10px;
}
.ant-select-fields-body::-webkit-scrollbar-button    {
    display: none;
}
.ant-select-fields-body::-webkit-scrollbar-track     {
    background:#f8f8f8;
}

.ant-select-fields-body::-webkit-scrollbar-thumb{
    background: rgba(6, 6, 6, .3);
    border-radius:5x;
}

.ant-select-container .ant-select-field>.ant-checkbox-wrapper{
  display: block;
}

.ant-select-container .ant-select-field{
  display: block;
  height: 24px;
  line-height: 24px;
}

.ant-select-container .ant-select-field:hover{
  background: rgb(236, 246, 253);
}