html, body, #root {
  height: 100%;
  min-width: 1200px;
}

/* #root {
  overflow-x: hidden;
} */

/* 登录页面 start */
.login {
  position: relative;
  height: 100%;
  min-height: 8rem;
  /* background:#fff url('../images/beijing.jpg') no-repeat center center;
  background-size: 100%; */
  background:#fff url('../images/beijing.png') no-repeat center top;
  background-size: 100%;
}

.login .ant-input:not(:first-child){
  padding-left: 38px;
}
.login .ant-input-lg{
  height: 0.40rem;
  font-size: 0.16rem;
}
.login .ant-form-item{
  margin-bottom: 0.24rem ;
}
.login-center{
  height: 100%;
  position: relative;
  padding: 0 6.00rem 0 0;
}
.login-center-left{
  width: 100%;
  height: 100%;
  position: relative;
}
.login-left-position{
  width: 100%;
  position: absolute;
  top: 50%;
  margin: -3.00rem 0 0 0;
}
.login-logo{
  width: 2.58rem;
  margin: 0 auto;
}
.login-logo img{
  width: 100%;
}
.login-title{
  padding: 0.40rem 0 0.10rem 0;
  text-align: center;
  font-size: 0.36rem;
  color: rgba(255, 255, 255, 0.8);
  margin: 0 auto;
  width: 4.00rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
}
.login-english{
  padding: 0.24rem 0 0.40rem 0;
  text-align: center;
  font-size: 0.14rem;
  color: rgba(255, 255, 255, 0.8);
}
.login-bg-img{
  width: 7.46rem;
  margin: 0 auto;
}
.login-bg-img img{
  width: 100%;
}
.login-center .login-content-right{
  width: 4.00rem;
  height: 100%;
  background:rgba(255, 255, 255, 0.4);
  position: absolute;
  right: 2.00rem;
  top: 0;
  /* position: relative; */
}

.login-form-position{
  width: 100%;
  height: 100%;
  position: relative;
}

.login-form-position .form{
  position: absolute;
  width: 100%;
  top: 50%;
  margin: -2.55rem 0 0 0 ;
}

.form h2{
  font-weight: 500;
  font-size: 0.24rem;
  color: #4d89f8;
  text-align: center;
  padding: 0.24rem 0 0.40rem 0;
}
.user-bg{
  width: 0.70rem;
  margin: 0 auto;
}
.user-bg img{
  width: 100%;
}



/* 登录页面 end  */
input:-webkit-autofill{
  -webkit-box-shadow: 0 0 0px 1000px #F6F6FC inset
}

.login-form-header{
  text-align: center;
  font-size: 20px;
  color: #333;
  line-height: 4;
}
.login-footer{
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  text-align: center;
  padding: 20px 40px;
}
  /* 侧边导航 */
.layout-sider-logo {
  height: 64px;
  line-height: 64px;
  text-align: center;
  font-size: 16px;
  color: #fff;
  /* background: #09294c; */
}

.login-footer{

}

/* 全局头部 */

.trigger {
  position: absolute;
  top: 50%;
  left: 15px;
  margin-top: -10px;
  font-size: 20px;
  cursor: pointer;
}

.quick-entry,
.bell-wrapper,
.auto-search-wrapper,
.user {
  float: right;
  margin-left: 20px;
  line-height: 64px;
}

.quick-entry {
  position: relative;
  top: 7px;
}

/* .bell-wrapper {
  position: relative;
  top: 2px;
} */

/* .auto-search-wrapper {
  position: relative;
  top: 7px;
} */

.search-input {
  transition: width 0.3s, margin-left 0.3s;
  background: transparent;
  width: 0;
  padding: 0;
  border: 0;
  border-radius: 0;
}

.search-input:hover,
.search-input:focus {
  border-bottom: 1px solid #dedede;
  background: transparent;
  box-shadow: none !important;
  outline: none;
}

.global-icon {
  margin-right: 15px;
  font-size: 20px;
  cursor: pointer;
}

/* 全局遮罩 */
.root-mask {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  z-index: 999999;
}

.tool-tip {
  width: 265px;
  position: absolute;
  margin: 0 auto;
  left: 50%;
  top: 50%;
  margin-left: -140px;
  margin-top: -82.5px;
  height: 100px;
  /* border: 1px solid #3d9cec; */
  background: #fff;
  border-radius: 5px;
  opacity: 0.8;
}

.tool-tip-head {
  width: 274px;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  color: #2d94f4;
  border-bottom: 2px solid #2d94f4;
}

.tool-tip-head  img{
  width: 100%;
}

.tool-tip-body {
  height: 48px;
  text-align: center;
  font-size: 14px;
  line-height: 48px;
  color: #7c7f8a;
}

.tool-tip-loding-text{
  margin-left: 10px;
  font-size: 16px;
  color: #666;
}

/* 首页 */
.operation-block {
  background: #fff;
  padding: 20px 30px;
  margin-bottom: 25px;
}

.operation-icon {
  margin-right: 25px;
  font-size: 12px;
  color: #80b5fe;
  cursor: pointer;
}

.searchbar-wrapper {
  height: 115px;
  line-height: 115px;
  text-align: center;
  background: #fff;
}

.project-list {
  margin: 0 20px;
}

.homeInfo {
  float: right;
}

.homeInfo > div {
  float: left;
  padding: 0 15px;
}

.homeInfo h3 {
  font-size: 36px;
  margin-bottom: 5px;
  position: relative;
  top: 8px;
  letter-spacing: 1px;
  text-align: center;
}

.homeInfo h5 {
  font-size: 14px;
  text-align: center;
  color: #ccc;
  font-weight: 300;
  letter-spacing: 1px;
  margin-bottom: 2px;
}

.homeTime {
  background: #fff;
  border: 1px solid #ebebeb;
  border-radius: 3px;
}

.homeTime div {
  display: inline-block;
  text-align: center;
  padding: 15px 0;
  font-size: 18px;
  color: #008e00;
}

.homeTime div span {
  font-size: 32px;
  margin-right: 5px;
}

.add-project-btn {
  float: left;
  border: 1px solid #dedede;
  height: 174px;
  line-height: 151px;
  text-align: center;
  cursor: pointer;
}

/* 通用样式 */
.query-block {
  background: #fff;
  padding: 16px 24px;
  margin: 30px 30px 0 30px;
}

.table-block {
  background: #fff;
  padding: 16px 24px;
  margin: 0 30px 30px 30px;
}

.blue-block {
  background: #fff;
  padding: 15px;
  border-left: 2px solid #38a0f5;
}

.orange-block {
  background: #fff;
  padding: 15px;
  border-left: 2px solid #f5ad38;
}

.gray-block,
.grey-block {
  background: #fff;
  padding: 15px;
  border-left: 2px solid #999;
}

.gray-empty-block,
.grey-empty-block {
  background: #ececed;
  height: 10px;
  width: 100%;
}

.blue-span {
  color: #38a0f5;
  cursor: pointer;
}

.red-span {
  color: #f43030;
  cursor: pointer;
}

.orange-span {
  color: #f5ad38;
  cursor: pointer;
}

.orange-button {
  background: #f5ad38;
	border: #f5ad38;
}

.orange-button:hover, .orange-button:focus {
  background: #f3c273;
	border: #f3c273;
}

.inline-h5 {
  font-weight: 600;
  color: #363636;
}

.mg10 {
  margin-right: 10px;
}

.mg20 {
  margin-right: 20px;
}

.required:after {
  position: absolute;
  top: 35px;
  right: -20px;
  content: '*';
  text-align: center;
  width: 20px;
  height: 20px;
  display: inline-block;
  color: red;
}

.radio-circle {
  position: relative;
  display: inline-block;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background: #dedede;
}

.radio-circle:before {
  content: '';
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 50%;
  width: 16px;
  height: 16px;
  margin-top: -8px;
  margin-left: -8px;
  border-radius: 50%;
  background: #fff;
}

/* 新增antd按钮类型：dustred */
.ant-btn-dustred{
    background: #ff4d4f !important;
    border-color:#ff4d4f !important ;
    color: #fff !important;
}
.ant-btn-dustred:hover{
    background: #ff7875 !important;
    border-color:#ff7875 !important ;
    color: #fff !important;
}
.ant-btn-dustred.ant-btn-clicked::after{
    border-color:#ff4d4f !important ;
}

.ant-btn-volcano{
  background: #fa541c !important;
  border-color: #fa541c !important ;
  color: #fff !important;
}
.ant-btn-volcano:hover{
  background: #ff7a45 !important;
  border-color:#ff7a45 !important ;
  color: #fff !important;
}
.ant-btn-volcano.ant-btn-clicked::after{
  border-color: #fa541c !important ;
}

.ant-btn-border-blue{
  background: #fff !important;
  border-color: #0092FA !important ;
  color: #0092FA !important;
}
.ant-btn-border-blue:hover{
  background: #fff !important;
  border-color:#40a9ff !important ;
  color: #40a9ff !important;
}
.ant-btn-border-blue.ant-btn-clicked::after{
  border-color: #0092FA !important ;
}

.height15 {
  height: 15px;
}

.height30 {
  height: 30px;
}

.button-blue, .button-blue:hover, .button-blue:active, .button-blue:focus {
  background: #368fff;
  border: 0;
  color: #fff;
}

.button-orange, .button-orange:hover, .button-orange:active, .button-orange:focus {
  background: #fb6633;
  border: 0;
  color: #fff;
}

.font-blue {
  color: #108ee9;
}

.font-red {
  color: red;
}

.pointer {
  cursor: pointer;
}

.input-after .ant-input-group-addon {
padding: 0;
}

.input-after .ant-input-group-addon .input-query {
  background: #368fff;
  color: #fff;
  padding: 10px 16px;
  font-size: 14px;
  border-radius: 0 5px 5px 0;
  border: 1px solid #d9d9d9;
  border-left: 0;
  cursor: pointer;
  position: relative;
  right: -1px;
}

.modal-confirm-button-hidden .ant-modal-footer .ant-btn-primary {
  display: none;
}

.step-default .ant-steps-item-content .ant-steps-item-title{
  color: #bfbfbf;
}

.step-default .ant-steps-item-icon .ant-steps-icon .ant-steps-icon-dot {
  background: #bfbfbf;
}

.step-focus .ant-steps-item-content .ant-steps-item-title{
  color: #000;
  font-weight: bold;
}

.step-focus .ant-steps-item-icon .ant-steps-icon .ant-steps-icon-dot {
  background: #1890ff;
}

.step-edit-delete {
  position: relative;
  top: -70px;
}

.step-edit-delete i {
  font-weight: 500;
  color: #bfbfbf;
  margin: 0 5px;
  cursor: pointer;
}

.step-edit-delete i:hover {
  color: #1890ff;
}

.supervision-detail {
  background: #fff;
  width: 800px;
  margin: 10px auto;
  padding: 30px;
  border-radius: 5px;
}

.supervision-detail h3 {
  text-align: center;
  font-size: 30px;
}

.supervision-detail p {
  text-indent: 2em;
  line-height: 28px;
  font-size: 16px;
}

.supervision-detail span {
  font-weight: bold;
  margin: 0 5px;
  letter-spacing: 1px;
}
.common-li-margin {
  margin: 15px 0;
}

.common-li-margin:first-child {
  margin-top: 0;
}

.common-content {
  background: #fff;
  padding: 30px 20px;
  margin: 30px 30px 0 30px;
  border-radius: 5;
}

.verify-error {
  color: red;
  position: relative;
  top: -12px;
  left: 70px;
  height: 0;
  font-size: 13px;
}

.supervise-way-table {
  border: 1px solid #d9d9d9;
}

.supervise-way-table thead {
  background: #f4f4f4;
}

.supervise-way-table thead {
  border-bottom: 1px solid #d9d9d9;
}

.supervise-way-table thead td {
  width: 140px;
  font-weight: 600;
  padding: 10px 5px 10px 15px;
  border-right: 1px solid #d9d9d9;
}

.supervise-way-table thead td:last-child {
  border: 0;
}

.supervise-way-table tbody td {
  width: 140px;
  padding: 10px 5px 10px 15px;
  border-right: 1px solid #d9d9d9;
}

.supervise-way-table thead td:last-child {
  border: 0;
}

.supervise-way-table .table-title {
  width: 120px;
  font-weight: 600;
}


.houseSelector {
  display: inline-block;
  width: calc(100% - 60px);
  padding: 16px 24px;
  margin: 0px 30px 0 30px;
  overflow: hidden;
  background: #fff;
  box-sizing: border-box;
  min-height: 235px;
  z-index: 20;
}

.houseSelector-title {
  padding: 10px 12px;
  color: #999;
  border-bottom: 1px #999 solid;
}

.houseSelector-content {
  position: relative;
  /*height: 650px;*/
  /*overflow: hidden;*/
  /*width: 102%;*/
  /*padding: 12px;*/
  /*overflow: auto;*/
  z-index: 10;
}

/*.houseSelector-content > div { width: 102%; }*/

.houseSelector-building-row {
  border-bottom: 1px #999 dashed;
}

.houseSelector-building-title {
  position: relative;
  padding-left: 12px;
  height: 40px;
  line-height: 40px;
  cursor: pointer;
}

.houseSelector-building-title .desc {
  margin-left: 12px;
  color: #aaa;
}

.houseSelector-building-title .desc i {
  position: relative;
  margin: 0 4px 0 12px;
  top: 3px;
  font-size: 16px;
  color: #87b8ce;
}
.houseSelector-building-content {
  line-height: 22px;
}

.houseSelector-building-content .floor {
  clear: both;
}
.floor-left .floor{
  float: left;
  margin-bottom: 6px;
}
.floor .floor-col {
  float: left;
  margin:  0 10px;
  width: 40px;
  height: 30px;
}

.houseSelector-building-content .unit {
  clear: both;
  margin-left: 60px;
}
.unit .unit-col {
  float: left;
  margin: 0 6px 6px 0px;
  width: 130px;
}

.house-null {
  position: relative;
  display: inline-block;
  margin: 0 6px 6px 0;
  padding: 4px;
  width: 130px;
  height: 100px;
  border-radius: 2px;
  vertical-align: top;
}

.houseSelector-building-title .num {
  margin: 0 4px;
  color: #87b8ce;
}

.houseSelector-building-title > i {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translate(0, -50%);
  color: #84c1e4;
}

.houseSelector-building-content {
  padding: 10px;
  background: #f9f9f9;
}

.houseSelector-house {
  position: relative;
  display: inline-block;
  margin: 0 6px 6px 0;
  padding: 4px;
  width: 130px;
  height: 100px;
  background: #D7E6EF;
  border-radius: 2px;
  vertical-align: top;
  cursor: pointer;
}

.houseSelector-house.pink {
  background: #DEC1CF;
}

.houseSelector-house.grey {
  background: #e8e8e8;
}

.houseSelector-house.selected {
  background: #6eafd4;
}

.houseSelector-house .ant-checkbox-inner {
  background-color: #F4FCFF;
  border: none;
}

.houseSelector-house .ant-checkbox-disabled .ant-checkbox-inner {
  background-color: #ddd;
  border: none;
}

.houseSelector-house .ant-checkbox-checked .ant-checkbox-inner {
  background-color: #6eafd4;
}

.houseSelector-house .material-icons {
  position: absolute;
  color: #bbb;
  font-size: 16px;
  right: 6px;
  bottom: 8px;
  cursor: pointer;
}

.houseSelector-house .material-icons:hover {
  color: #82DFF7;
}

.houseSelector-house-title {
  float: right;
  display: inline-block;
  margin-right: 10px;
  margin-left: 5px;
  color: #216082;
  min-width: 54px;
  width: calc(100% - 31px);
  font: bold 13px Arial, sans-serif;
  overflow: hidden;
  text-overflow: ellipsis;
}
.margin0 {
  margin: 0;
}

.step-message {
  font-size: 14px;
  color: #ccc;
}

.acct-apply .ant-form-item {
  margin-bottom: 0;
}

.form-item-clear-margin{
  margin: 0;
}
.apply-node > .ant-steps-item-content > .ant-steps-item-title {
  color: #FF6039;
}

.apply-node .ant-steps-item-icon > .ant-steps-icon .ant-steps-icon-dot {
  background: #FF6039;
}

.tree-node-width .ant-tree li .ant-tree-node-content-wrapper{
  width: 100%;
}

#steps .ant-steps-icon-dot {
  border: 4px solid #1890ff;
  background: #fff;
  padding: 4px;
  position: relative;
  top: -5px;
  left: -4px;
}

#steps .ant-steps-item-tail:after {
  background: #e9eaec;
  width: 2px;
}

.steps-card-box{
  display: inline-block;
  width: calc(100% - 50px);
}

#steps .steps-item-first{
  position: relative;
  width: 20px;
}

#steps .steps-item-first::after{
  content: '';
  display: block;
  position: absolute;
  left: 3px;
  width: 2px;
  background: #e9eaec;
  height: 100%;
}

/* 详情-审核-页面 内容最外层box */
.details-audit-box{
  padding-left: 10px;
  padding-right: 30px;
}
/* 详情-审核-页面 每个内容块box */
.details-audit-item-box{
  margin-top: 30px
}

/* 账户列表-卡片宽度 */
.mainacct-card{
  width: 380px;
}

/* 首页项目卡片 */
/* 账户列表-卡片宽度 */
.project-card{
  width: 350px;
  margin: 10px 5px;
  float: left;
  cursor: pointer;
}

/* 消息列表 */
.notic-list:hover{
  background: #e6f7ff;
}

.notic-list {
  cursor: pointer;
}

.workflow-title {
  font-size: 18px;
  margin-bottom: 10px
}

.width100 {
  width: 100%;
}

.center {
  text-align: center;
}

.download {
  color: #1890ff;
  cursor: pointer;
}

.download:hover {
  text-decoration: underline;
}
