@import '../assets//styles//vars.less';

.wrapper {
  height: @full-height;
  overflow: hidden;

  .container {
    height: calc(100vh - @header-height);
    overflow: hidden;

    .kant-sidermenu-content {
      z-index: 9;
    }
  }
}
