@import '../assets//styles//vars.less';

.wrapper {
  height: @full-height;
  overflow: hidden;

  .container {
    height: calc(100vh - @header-height);
    flex-direction: row;
    overflow: hidden;
  }
}
